@import "~src/assets/style/linkin";

.logo {
    background-color: $primary;
    position: absolute;
    z-index:9999;
    width:100%;
    height:100vh;
    @include flex(center,column);
    animation-name: toggleLogo;
    animation-duration: 4s;

    img {
        max-width:100%;
        width:auto;
        height:auto;
        cursor:pointer;
        
    }
}